* {
  font-family: "Merriweather Sans", serif;
}

/* BACKGROUND */

body {
  background-color: rgb(99, 32, 99);
}

/* HEADER */
#logo {
  font-weight: 1000;
  font-size: 3rem;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

h2,
h1 {
  text-align: center;
}

#email {
  font-size: 5vw;
}

textarea {
  height: 200px;
  width: 100%;
  resize: none;
}

li {
  font-size: 1.5rem;
  display: inline;
  padding: 10px;
}

a {
  color: black;
}

#about-me {
  text-align: start;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 1rem;
  width: 45rem;
}

/*MY WORK PAGE*/
.pictures-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 50px;
}

.category-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

img {
  width: 100%;
  height: auto;
}

/*FOOTER*/
footer {
  margin-top: 35rem;
  border-top: 1px solid black;
}

/*RESPONSIVE LAYOUT*/

@media screen and (max-width: 1200px) {
  .pictures-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .pictures-container {
    grid-template-columns: 1fr;
  }
}
